@import url('rooms.css');

.room-header {
    background: linear-gradient(135deg, #5f76ff, #8ea2ff);
}

.device-count {
    top: 15px;
    right: 15px;
    background: rgba(255,255,255,0.45);
}
